body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("pc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
.loader {
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: white;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  border: 5px solid rgba(211, 211, 211, 0.5);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-right-color: rgb(1, 218, 1);
  animation: animation11 0.8s infinite ease-in-out;
}
.hide {
  display: none;
}
@keyframes animation11 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    border-right-color: gold;
  }
 
  100% {
    transform: rotate(360deg);
    border-right-color: red;
  }
}
html {
  scroll-behavior: smooth;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p5 {
  color: white;
  font-size: 25spx;
  display: inline-block;
}
.fa-arrow-up {
  font-size: 30px;
  position: fixed;
  display: inline-block;
  margin-left: 1250px;
  bottom: 100px;
  z-index: 1;
  color: gold;
}
 
/*------------ media query -----------*/

@media (max-width:720px) {
  body {
    background-position-x: center;
    background-position-y: center;
    padding: 0;
    overflow-x: hidden;
  }
  .loader {
    width: 1550px;
    height: 100%;
    z-index: 100;
    background-color: white;
    position: fixed;
  }
  .spinner {
    border: 15px solid rgba(211, 211, 211, 0.5);
    width: 200px;
    height: 200px;
    border-right-color: rgb(1, 218, 1);
    animation: animation11 0.8s infinite ease-in-out;
  }
  .hide {
    display: none;
  }
  main {
    margin-top: 0px;
    width: 1550px
  }
  footer {
    width: 1550px;
    height: 500px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p5 {
    color: white;
    font-size: 55px;
    display: inline-block;
  }
  .fa-arrow-up {
    font-size: 120px;
    position: fixed;
    display: inline-block;
    margin-left: 1400px;
    bottom: 200px;
    z-index: 1;
    color: gold;
  }
}
